<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <title>Flask Authentication</title>
    </head>
    <body>
        <header>This is a secure Flask Login system</header>
        {% block body %}
        <!-- Contents of index file will appear here -->        
        {% endblock %}
    </body>
</html>